%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

{deps, [
    {'ucp_common', ".*", {git, "git://github.com/jtendo/ucp_common.git"}},
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'gen_fsm2', ".*", {git, "git://github.com/yrashk/gen_fsm2.git", "master"}},
    {'confetti', ".*", {git, "git://github.com/jtendo/confetti.git", "master"}},
    {'binpp', ".*", {git, "git://github.com/jtendo/binpp.git"}}
]}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
%{erl_first_files, ["mymib1", "mymib2"]}.

%% Erlang compiler options
{erl_opts, [warn_unused_vars, warn_unused_import, warn_exported_vars,
        debug_info, %fail_on_warning, % native
        {i, "include"},
        {d, debug},
        {parse_transform, lager_transform}]}.

%% MIB Options?

%{mib_opts, [{group_check, false}]}.
{mib_opts, []}.

%% SNMP mibs to compile first?
%{mib_first_files, ["apps/mmsp/mibs/JT-MMSP-MIB.mib"]}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

%% Additional compile options for eunit. erl_opts from above is also used
%{eunit_compile_opts, [{src_dirs, ["test"]}]}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, false}.

%% == Cleanup ==

%% Which files to cleanup
{clean_files, ["*.eunit", "ebin/*.beam"]}.

%% == Reltool ==

%% Target directory for the release
{target, "target"}.

%% == OTP Applications ==

%% Binaries to link into the erlang path?
{app_bin, []}.

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Subdirectories ==

%% Subdirectories?
{sub_dirs, ["rel"]}.
